html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
}
body > h1 {
  align-self: center;
}
.book-list {
  border: 3px solid black;
  padding-left: 0;
  margin: 0 20px;
  min-width: 267px;
}
.book {
  display: flex;
  justify-content: space-between;
}
.text {
  margin-left: 50px;
}
.book-info {
  font-size: 10px;
}
.remove-book {
  background-color: white;
  height: 25px;
  width: 10%;
  min-width: 100px;
  align-self: center;
  margin-right: 50px;
  border: 1px solid black;
  box-shadow: 6px 6px;
  cursor: pointer;
  font-size: 12px;
}
.element-0 {
  background-color: lightgrey;
}
hr {
  margin: 30px auto;
  width: 20vw;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
form input {
  width: 300px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid black;
}
.add-button {
  margin-left: 240px;
  width: 60px;
  height: 30px;
  background-color: white;
  border: 4px outset black;
  box-shadow: 4px 4px;
  cursor: pointer;
}
@media only screen and (min-width: 768px) {
  .book-info {
    font-size: 20px;
  }
  .remove-book {
    height: 50px;
    width: 20%;
    font-size: 20px;
  }
}
